{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "mocha": true,
    "jest": true
  },
  "globals": {
    "module": true,
    "webviewApi": true
  }, 
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": { 
    "indent": ["error", 4],
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/ban-types": "off"
  }
}
